<tr id="spm_<%= spm.id %>">

    <td><%=  I18n.localize(spm.study_date, format: "%d %B %Y") %></td>

    <% unless @patient %>
        <% pat = spm.patient %>
        <td>
            <% split = pat.fullname.split("^") %>
            <% nom = "#{split[0].upcase} #{split[1].titleize if split[1]}" %>
            <%= nom %> <small>(<%= pat.npp %>)</small> 
        </td>
    <% end %>


    <td>
        <%= link_to "Classic", 
            spm.spm_base, 
            { target: '_blank', class: 'btn btn-primary' } 
        %>
    </td>

    <td>
        <%= link_to "Mirror", 
            spm.spm_mirror, 
            { target: '_blank', class: 'btn btn-primary' } if spm.spm_mirror 
        %>
    </td>


    <!-- # PATIENT -->
    <% unless @patient %>
        <td><a href="<%= spms_path(patient_id: spm.patient_id) %>" class="btn btn-info btn-sm" role="button"
                data-toggle="tooltip" title="Patient's SPMs">
                <span class="material-icons">person</span>
            </a>
        </td>
    <% end %>

    <% if @admin_mode %>
        
        <td><a href="<%= edit_spm_path(spm) %>" class="btn btn-info btn-sm" role="button"
                data-toggle="tooltip" title="Edit spm">
                <span class="material-icons">edit</span>
            </a>
        </td>
        
        <td><%= link_to '<span class="material-icons" data-toggle="tooltip" title="Delete">clear</span>'.html_safe, 
                spm_path(spm),
                method: :delete,
                remote: true,
                data: { confirm: "Delete spm for patient #{spm.patient_id} ?" },
                class: "btn btn-danger btn-sm" 
            %>
        </td>
    <% end %>


    
</tr>