<tr id="spm_<%= spm.id %>">

    <td><%=  I18n.localize(spm.study_date, format: "%d %B %Y") %></td>

    <% unless @patient %>
        <td><%= spm.patient.fullname %> <small>(<%= spm.patient.npp %>)</small> </td>
    <% end %>


    <td><%= link_to spm.spm_base.truncate(30), "file://#{spm.spm_base}" %></td>

    <td><%= link_to spm.spm_mirror.truncate(30), spm.spm_mirror if spm.spm_mirror %></td>



    <td><a href="<%= edit_spm_path(spm) %>" class="btn btn-info btn-sm" role="button"
            data-toggle="tooltip" title="Edit spm">
            <span class="material-icons">edit</span>
        </a></td>

    <% unless @patient %>
        <td><a href="<%= spms_path(patient_id: spm.patient_id) %>" class="btn btn-info btn-sm" role="button"
                data-toggle="tooltip" title="Patient's SPMs">
                <span class="material-icons">person</span>
            </a></td>
    <% end %>
    
    <td><%= link_to '<span class="material-icons" data-toggle="tooltip" title="Delete">clear</span>'.html_safe, 
            spm_path(spm),
            method: :delete,
            remote: true,
            data: { confirm: "Delete spm for patient #{spm.patient_id} ?" },
            class: "btn btn-danger btn-sm" 
        %></td>

    
</tr>