
<div class="jumbotron text-center">
  <h1>SPM DB</h1>
  <p>SPM's Database</p> 
</div>


<div class="container">
  <div class="card-deck">

    <div class="shadow card bg-default">
      <div class="card-body text-center">
        <h3><span class="material-icons">people</span> Patients</h3>
        <p>Show the list of the patients whom get an SPM. From each patient, you can access the studies and SPM files.</p>
        <a href="<%= patients_path %>" class="btn btn-info" role="button">Show</a>
      </div>
    </div>

    <div class="shadow card bg-default">
      <div class="card-body text-center">
        <h3><span class="material-icons">list</span> SPM's</h3>
        <p>Show the list of all the SPM's generated. The newest are on the top of the list.</p>
        <a href="<%= spms_path %>" class="btn btn-info" role="button">Show</a>
      </div>
    </div>

    <% if @admin_mode %>
      <div class="shadow card bg-default">
        <div class="card-body text-center">
          <h3><span class="material-icons">create_new_folder</span> New SPM</h3>        
          <p>Create a new SPM. A new entry is created and nothing is deleted if an spm already exists.</p>
          <a href="<%= matlab_path %>" class="btn btn-info" role="button">Start</a>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>

<div class="container">
  <div class="card-deck">
    <div class="shadow card bg-default">
        <div class="card-body text-center">
          <h3><small>Last SPM's</small></h3>
          <div class="row">
            <% @lasts.each do |last| %>
              <div class="col-sm-4">
                <small>
                <%= link_to "#{last.patient.fullname} (#{I18n.localize(last.study_date, format: '%d %B %Y')})", spms_path(patient_id: last.patient_id) %>
                
                </small>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="m-5  float-right mx-auto <%= @admin_mode ? 'bg-success text-white' : 'bg-light text-dark' %>  text-center" style="width:400px">
    <small>
      <% unless @server_address == @client_address %>
        Remote Access. User mode.
      <% else %>
        Local Access. Admin mode.
      <% end %>
    </small>
  </div>
</div>