<!DOCTYPE html>
<html>
  <head>
    <title>SpmDb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- NAVBAR -->
    <%= render 'layouts/navbar' %>

    <div class="container-fluid" style="margin-top:80px">
      <!-- HEADER -->
      <%= render 'layouts/header'%>

      <!-- FLASH -->
      <div class="container">
          <% flash.each do |key, value| %>
          <%= content_tag :div, value, class: key %>
          <% end %>
      </div>

      <!-- YIELD -->
      <%= yield %>

      <!-- FOOT -->
      <%= render 'layouts/footer'%>
    </div>

  </body>
</html>
